<%- include layoutTop.ejs %>

<script language="JavaScript" type="text/javascript" src="http://humanityonline.com/HOL_Avatar.js"></script>

<script language="javascript">

        HOL_SetupAvatar("Avatar", "360", "240");
        function HOL_OnFlashLoaded() {
           HOL_PlayFLV("Avatar", "/Humanity_Loop.flv");
        }

        function HOL_OnVideoDone(avatar, url) {
           HOL_PlayFLV("Avatar", "/Humanity_Loop.flv");
        }
                   
</script>

<div id="avatar-home"><div id="Avatar"></div>

<form action="/searchresults" method="post">
	<div>
		<h1>Search</h1> 
		<input type="text" name="q"></input> 
		<div>
			Ask an expert <input type="checkbox" name="expert"></input>
		</div>
		<div>
			<h1>Categories</h1>
			<div>
				Automotive: <input checked type="radio" name="category" value="automotive"></input>
			<div>
			<div>
				Animals: <input type="radio" name="category" value="automotive"></input>
			<div>
		</div>
		<input type="submit"></input>
	</div>
</form>

<%- include layoutBottom.ejs %>