		<div class="navbar navbar-inverse navbar-fixed-bottom">
			<ul class="nav navbar-nav pull-right"><li><a href="./">&copy; Crowd Answers</a></li></ul>
		</div>
	    <script src="/jquery.min.js"></script>
	    <script src="/bootstrap.min.js"></script>
	</body>
</html>