<!DOCTYPE html>
<html>
  <head>
    <title>Crowd Answers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
    <link href="/css/crowdanswers.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	<div id="nav-header" class="navbar navbar-inverse navbar-fixed-top">
		<a href="/" class="navbar-brand">
			<img src="images/logosmall.png" alt="Crowd Answers Logo">
			<img src="images/crowdanswerstitle.png" alt="Crowd Answers">
		</a>
	</div>