<%- include layoutTop.ejs %>
<form action="/registersubmit" method="post">
	<div>
		<h1>User</h1>
		name: <input type="text" name="name"></input>
		phone: <input type="text" name="phone"></input>
		email: <input type="text" name="email"></input>
	</div>
	<div>
		<h1>Categories</h1>
		<div>
			Automotive: <input type="checkbox" name="category_automotive"></input>
		<div>
		<div>
			Animals: <input type="checkbox" name="category_animals"></input>
		<div>
	</div>

	<input type="submit" value="click me"></input>
</form>
<%- include layoutBottom.ejs %>
