<%- include layoutTop.ejs %>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect();

   socket.on('connect', function () {
    socket.emit('seed', '<%= seed %>');

	  socket.on('answer', function (data) {
		    document.getElementById('result').innerHTML = 'Your answer has arrived<div><p>' + data.data + '</p></div>';
	  });
  });

</script>

<div class="col-spacer row-spacer">
	<div id="result">

		your request has been submitted

		<p>
			waiting...
		</p>
	</div>
</div>
<%- include layoutBottom.ejs %>
