<%- include layoutTop.ejs %>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect();

   socket.on('connect', function () {
    socket.emit('seed', '<%= seed %>');

	  socket.on('answer', function (data) {
		    document.getElementById('result').innerHTML = '<div class="text-primary">Your answer has arrived</div><div><p><blockquote>' + data.data + '</blockquote>	</p></div>';
	  });
  });

</script>

<div class="col-spacer row-spacer">
	<div id="result">

		<div class="text-primary">your request has been submitted</div>

		<p>
			waiting...
		</p>
	</div>
</div>
<%- include layoutBottom.ejs %>
